#CameraPlaceholder{
    margin-top: 75px;
    margin-bottom: 70px;
    width: 444px;
    height:262px;
    border: 8px solid #f24405;
    border-radius: 12px;
    background-color: greenyellow;
    box-shadow: -1px 3px 15px rgba(0, 0, 0, 0.623);
}