#Leaderboard{
    background-color: #4bbfb4;;
    width: 460px;
    height: 470px;
    border-radius: 12px;
    box-shadow: -1px 3px 15px rgba(0, 0, 0, 0.623); 
}

#Leaderboard svg{
    position: absolute;
    left: 420px;
    margin-top: 10px;
    font-size: 70px;
}

.conteneur_Type{
    display:flex; 
    flex-direction: column;
    padding: 25px;
    height: 200px;
}

.conteneur_userLeader{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; 
}

.userLeader{
    background-color: #f2d43d;
    border-radius: 12px;
    padding: 6px 8px 6px 8px; 
    margin: 5px 5px 5px 5px; 
    font-size: 24px;
}

.conteneurCarton{
    height: auto;
}

.cartonPlein{
    background-color: #f24405;
}

h2{
    text-transform: uppercase;
    font-size: 36px;
    margin: 0;
}