html, body{
  margin: 0;
}

#app{
  display: flex; 
  flex-direction:inline;
}

#stream{
  width: 1920px;
  height: 1080px;
  background: rgb(248, 184, 184);
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between; 
};

#leftColumn{

};

#middleColumn{

};

