html, body{
  margin: 0;
}

#app{
  display: flex; 
  flex-direction:row;
}

#stream{
  width: 1920px;
  height: 1080px;
  background: rgb(248, 184, 184);
  display: flex; 
  flex-direction: column;
};

