@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

html, body{
  margin: 0;
  background-color: white;
}

#banner h1{
  font-family: 'Sigmar One', cursive;
  font-size: 48px;
}

#app{
  display: flex; 
  flex-direction:inline;
  font-family: 'Secular One', sans-serif;
  color: #0d0d0d;
}
#videoBg{
  position: absolute; left: 0; top: 0;
  z-index: -100;
  object-fit: cover;
}

#stream{
  width: 1830px;
  height: 990px;
  padding: 45px;
  margin: 0;
  background-color: rgba(242, 212, 61, 40%);
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between; 
};



#streamBody{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#leftColumn{
  margin: 0;
};

#middleColumn{
  margin: 0;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
};

#rightColumn{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
};
