#chatBox{
    height:600px;
    width:480px;
    padding: 20px;
    background-color: #4bbfb4;
    border-radius: 12px;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:scroll;
}

p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 400%;
      opacity: 0%;
      filter: blur(4px);
    }
  
    to {
      margin-left: 0%;
      width: 100%;
      opacity: 100%;
      filter: blur(0);
    }
  }
  